PORT=3055
NODE_ENV=development

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN=30d

LOGO_SERVICE_URL=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash-lite
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_IMAGE_MODEL=gpt-image-1
REVENUECAT_TOKEN_MAP=logora_tokens_50:50,logora_tokens_100:100,logora_tokens_200:200

# App Panel .env içindeki LOGORA_PANEL_API_KEY ile aynı olmalı
LOGORA_PANEL_API_KEY=
